# Build output
build/
cmake-build-*/

# IDE
.idea/
.vscode/
.cursor/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Binary artifacts (DLLs, EXEs, etc.)
*.dll
*.exe
*.lib
*.so
*.dylib
2.Firmware/_Release/hw75_dynamic@B-zmk.bin

# Libs
zmk-config_helloword_hw-75/